


{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}



{% block content %}


<div class="container">
    <div class="row expanded greeting">
        <div class="column">
          <h1>Hello there.</h1>

          <h2>I'm Chris Adams, and this is my personal site.</h2>

          <p>There used to be a poorly maintained blog here, but I've taken it down while I have a rethink about what to do with this site.</p>
          <p>It should be up again some time in mid August, but in the meantime, please bear with me.</p>
        </div>
    </div>

    <div class="row expanded work-with-me">
        <div class="column">
            <h2>Working with me</h2>
            <p>You might be looking for <a href="http://productscience.co.uk">Product Science</a>, my consulting / services company.
                </>
                <p>That's the best place for business enquiries</p>
        </div>
    </div>

    <div class="row expanded contact-me">
        <div class="column ">
            <div class="stalk-me">
              <h2>Finding me elsewhere</h2>

              <p>I'm <strong>mrchrisadams</strong> on most social media:</p>
              <ul>
                  <li><a href="https://github.com/mrchrisadams">Github</a></li>
                  <li><a href="https://twitter.com/mrchrisadams">Twitter</a></li>
                  <li><a href="http://uk.linkedin.com/in/mrchrisadams">LinkedIn</a></li>
              </ul>

            </div>

            <div class="email-me">
              <p>You can also reach me at via email at:
                <a href="mailto:wave@chrisadams.me.uk?subject=Hello">wave@chrisadams.me.uk</a>
              </p>
            </div>

        </div>

    </div>

</div>

{% endblock %}
