{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row expanded greeting">
    <div class="column">
      <h1>Hello there.</h1>

      <h2>I'm Chris Adams, and this is my personal site.</h2>

      <p>My blog is on Wordpress at <a href="http://blog.chrisadams.me.uk">blog.chrisadams.me.uk</a>, where I write about whatever's caught my attention of late.</p>
      <p>This is usually a mix of things I learn working in tech, and reckons on the environment, recipes for cooking, and in general, my life in London and Berlin.</p>
    </div>
  </div>

  <div class="row expanded work-with-me">
    <div class="column">
      <h2>Working with me</h2>
      <p>You might be looking for <a href="http://productscience.co.uk">Product Science</a>, my consulting / services company.</p>
      <p>That's the best place for business enquiries.</p>

      <h3>What I'm up to right now</h3>

      <p>Here's an abridged list of things I'm doing at the mo, and the near future:</p>

      <ul>
        <li>Studying German in an intensive course throughout August, with <a href="http://www.expath.de/">Expath</a>.</li>
        <li>In the time left over, <a href="http://productscience.co.uk">through my company listed above</a>, I'm working as freelance developer and product person</a>.</li>
        <li>Running a book club around <a href="lpd2.com">Lean Product Development in Berlin</a>.</li>
        <li>Volunteering with <a href="https://dssg-berlin.org">DSSG (Data Science for Social Good) Berlin.</a></li>
      </ul>
    </div>

  </div>
  <div class="row expanded contact-me">
    <div class="column ">
      <div class="stalk-me">
        <h2>Finding me elsewhere</h2>

        <p>I'm <strong>mrchrisadams</strong> on most social media:</p>
        <ul>
          <li><a href="https://github.com/mrchrisadams">Github</a></li>
          <li><a href="https://twitter.com/mrchrisadams">Twitter</a></li>
          <li><a href="https://pinboard.in/u:mrchrisadams">Pinboard</a></li>
          <li><a href="http://uk.linkedin.com/in/mrchrisadams">LinkedIn</a></li>
          <li><a href="https://facebook.com/mrchrisadams">Facebook</a></li>
        </ul>
      </div>

      <div class="email-me">
        <p>You can also reach me at via email at:
          <a href="mailto:wave@chrisadams.me.uk?subject=Hello">wave@chrisadams.me.uk</a>
        </p>
      </div>

    </div>

  </div>

</div>

{% endblock %}
